!!!
html
  head
    title go.do.com
    script(src="/javascripts/vendor/jquery.min.js") 
    script(src="/javascripts/vendor/underscore.js")
    script(src="/javascripts/vendor/backbone.js")
    //link(rel='stylesheet', href='http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css')
    link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css')
    // link(rel='stylesheet', href='/stylesheets/reset.css')                                    
    link(rel='stylesheet', href='/stylesheets/screen.css')                                    
    script(src="/package.js")
    script
      require('application');
  body!= body
